// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

$bg-primary: #212121;

html,body {
	margin:0;
	padding:0;
	background-color: $bg-primary;
	background: $bg-primary; 
}
